<div class="row mt-1">
  <div class="col-12">
    <div class="navbar bg-white b-b flex-row">
      <div class="d-flex">
        <div class="fs-1x font500">
          Campañas
        </div>
      </div>
      <div class="d-flex flex justify-content-end">
        <div class="btn-group">
          <a [routerLink]="[ '/campaigns/new']" class="btn btn-gradient-success btn-icon-o">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-3 col-sm-6 mb-30" *ngFor="let campaign of campaigns">
    <div class="bg-white pt-3 pb-3 border1">
      <div class="p-3">
        <img (click)="showCamp( campaign._id )" src="{{ url }}/campaigns/{{ campaign.photo }}"
          alt="{{ campaign.name }} {{ campaign.last_name }}"
          class="img-fluid shadow-sm ml-auto mr-auto d-block pointer campImg">
      </div>
      <div class="text-center pt-15">
        <h5 class="text-primary mb-0 pointer" (click)="showCamp( campaign._id )">{{ campaign.name }}<br>
          <small class="text-secondary font-weight-normal font-italic fs08">{{ campaign.address }}</small>
        </h5>
        <span class="text-muted d-block pb-2 pt-1 b-b">{{ campaign.date | mongoDate: "date" }} a las {{ campaign.time }}
        </span>
        <div class="clearfix pl-3 pr-3 mt-2">
          <div class="float-left">
            <select class="form-control form-control-sm w-100">
              <option [selected]="campaign.status === 'active'" [disabled]="campaign.status === 'complete'"
                value="active">Activa</option>
              <option [selected]="campaign.status === 'inactive'" [disabled]="campaign.status === 'complete'"
                value="inactive">Inactiva</option>
              <option [selected]="campaign.status === 'complete'" value="complete">Completada</option>
            </select>
          </div>
          <div class="float-right">
            <a *ngIf="campaign.email" href="mailto:{{ campaign.phone }}" data-toggle="tooltip" [title]="campaign.email"
              data-placement="bottom">
              <i class="fas fa-envelope text-primary ml-3 fs13"></i>
            </a>
            <a *ngIf="campaign.phone" href="tel:{{ campaign.phone }}" data-toggle="tooltip" [title]="campaign.phone"
              data-placement="bottom">
              <i class="fas fa-phone text-primary ml-3 fs13"></i>
            </a>
          </div>
        </div>
        <div class="mx-auto d-flex p-3 mt-3 bg-secondary-light border border-secondary">
          <img class="img-fluid shadow-sm avatar25 ml-auto mr-auto d-block rounded-circle"
            *ngFor="let user of campaign.people" src="{{ url }}/users/{{ user.photo }}"
            alt="{{ user.name }} {{ user.last_name }}" name="{{ user.name }} {{ user.last_name }}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="pages.length > 1">
  <div class="col-sm-4 offset-sm-4 mx-auto">
    <nav>
      <ul class="pagination">
        <li *ngFor="let page of pages; index as i" class="page-item" routerLinkActive="active">
          <a class="page-link" href="#">{{ ( i + 1) }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
